@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", serif;
}
body {
  background-image: url("../resources/bg-guess-the-word-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button {
  filter: drop-shadow(0px 4px 0px #7b248a);
  cursor: pointer;
}
#randomWordContainer {
  box-shadow: 0px 4px 0px 0px #030616;
}

#active-input {
  border: 2px solid #7429c6;
  text-align: center;
}
#input-field-container > .wrongAnswer {
  border: 2px solid red;
}
#active-input::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../resources/bg-guess-the-word.jpg");
  }
}
@media only screen and (max-width: 360px) {
  #container {
    width: 95%;
  }
  #randomWordContainer {
    width: 250px;
    font-size: 16px;
    font-weight: bold;
  }
  .text-for-xs {
    font-size: 14px;
    font-weight: bold;
  }
  #input-field-template input {
    width: 1rem;
    height: 1rem;
  }
  #buttonContainer button {
    width: 6rem;
  }
}
