@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", serif;
}
body {
  background-image: url("../resources/bg-guess-the-word-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button {
  filter: drop-shadow(0px 4px 0px #7b248a);
  cursor: pointer;
}
#text-box {
  box-shadow: 0px 4px 0px 0px #030616;
}

#active-input {
  border: 2px solid #7429c6;
  text-align: center;
}

#active-input::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../resources/bg-guess-the-word.jpg");
  }
}
@media only screen and (max-width: 360px) {
  #container {
    width: 20rem;
  }
}
@media only screen and (max-width: 320px) {
  #container {
    width: 17rem;
    padding-inline: 10px;
  }
}
